<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div @fadeIn class="spielregeln">
  <a name="spielregeln"></a>
<h3>Spielregeln</h3>
  <div class="spielstory">
  <!--<div style="width:400px; height: 400px;" > -->
    <!-- 
    <img style="position:absolute; left:400px; top:900px; height:300px; width:300px;" class="regelImg1" src="assets/images/spielregeln/quiz_0004.png">
    <img style="position:absolute; left:430px; top:980px; height:200px; width:200px;" class="regelImg2" src="assets/images/spielregeln/quiz_0003.png"> 
    <img style="position:absolute; left:430px; top:920px; height:250px; width:250px;" class="regelImg3" src="assets/images/spielregeln/quiz_0002.png">
    <img style="position:absolute; left:430px; top:930px; height:200px; width:220px;" class="regelImg4" src="assets/images/spielregeln/quiz_0001.png">
    <img style="position:absolute; left:600px; top:970px; height:200px; width:50px;" class="regelImg5" src="assets/images/spielregeln/quiz_0000.png">
  -->
    <img class="regelImg4" src="assets/images/spielregeln/quiz_0004.png">
    <img class="regelImg3" src="assets/images/spielregeln/quiz_0003.png">
    <img class="regelImg2" src="assets/images/spielregeln/quiz_0002.png">
    <img class="regelImg1" src="assets/images/spielregeln/quiz_0001.png">
    <img class="regelImg0" src="assets/images/spielregeln/quiz_0000.png">

  </div>
  <div class="text-right">
      Die Spielregeln sind ganz einfach.<br> Wahrscheinlich hast du schon einmal was von einem <b>Escape Spiel</b> gehört bzw. selber gespielt. <br>
      Starte das Spiel und löse die Rätsel.<br> Wenn die erfolgreich das Rätsel gelöst hast, bekommst du als Ergebnis einen <b>Buchstaben</b>.<br>
      Setze die erhaltenen Buchstaben zusammen und du bekommst das <b>Lösungswort</b>.
  </div>
</div>

