
<div @fadeIn class="spielregeln">
  
<div class="spielstory">
  <img class="regelImg" src="assets/images/spielRegel.jpg">
    <div class="text-right">
      Die Spielregeln sind ganz einfach.<br> Wahrscheinlich hast du schon einmal was von einem <b>Escape Spiel</b> gehört bzw. selber gespielt. <br>
      Starte das Spiel und löse die Rätsel.<br> Wenn die erfolgreich das Rätsel gelöst hast, bekommst du als Ergebnis einen <b>Buchstaben</b>.<br>
      Setze die erhaltenen Buchstaben zusammen und du bekommst das <b>Lösungswort</b>.</div>
  </div>

