
<div @fadeIn class="spielregeln">
  
<div class="spielregeln-container panel">
  <img class="regelImg" src="assets\images\spielRegel.jpg">
  <div class="kapitel-titel-container">
    <div class="kapitel-titel" id="spielregeln"></div>
    <h2>Spielregeln</h2>
  </div>
  <div class="item spielregeln">
    <div class="text-right">Die Spielregeln sind ganz einfach. Wahrscheinlich hast du schon einmal was von einem Escape Spiel gehört bzw. selber gespielt. Starte das Spiel und löse die Rätsel. Wenn die erfolgreich das Rätsel gelöst hast, bekommst du als Ergebnis einen Buchstaben. Setze die erhaltenen Buchstaben zusammen und du bekommst das Lösungswort.</div>
  </div>

