<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="../../assets/images/logo.png" alt="Escape-Leranspiel" style="width:20px;height:20px;"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#vorstellung">Das sind wir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#spielregeln">Spielregeln</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#html">So geht HTML</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#css">So geht CSS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/escape">Escape-Room</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->

<!-- Jumbotron -->
<div class="p-5">
  <div class="h-text">
  <h1 class="mb-3">Webentwicklung</h1>
  <h4 class="mb-4">Lernen im Escape-Room</h4>
</div>  
 <img class ="h-img" src="../../assets/images/weckerRegal.png">
</div>

<!-- Jumbotron -->

