
<header>
  <div  class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="logo">
          <img src="../../assets/images/logo.png"alt="Escape-Leranspiel" style="width:30px;height:30px;">
        </div>

      </div>
      <div class="col-md-12 col-sm-12 col-12 text-end">
        <div class="menu_icon" [class.menu_iconClass]="menu_icon_variable" (click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
         <div class="menu" [class.menuClasse]="menuVariable">
        
          <ul>
           <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a class="nav-link" href="#vorstellung">Story</a>
            </li>
            <li>
              <a href="#spielregeln">Spielregeln</a>
            </li>
            <li>
              <a href="#erklaerung">Erklärung</a>
            </li>
            <li>
              <a routerLink="/escape">Escape-Room</a>
            </li>
           <li>
              <a routerLink="/quellen">Quellen</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</header>

<!-- Jumbotron -->
<div class="p-5">
  <div class="h-text">
  <h1 class="mb-3">Webentwicklung</h1>
  <h4 class="mb-4">Lernen im Escape-Room</h4>
</div>
 <img class ="h-img" src="../../assets/images/weckerRegal.png">
</div>

<!-- Jumbotron -->


