<div class="raum fullHeight">
  <div class="endPageContent">
    <h1 class="endPageText">Herzlichen Glückwunsch! Du kannst dir sicher sein, dass du die Klausur bestehst!</h1>
    <div class="endPageButtons">
      <button class="buttonAnimate" routerLink="/start">Zurück zur Startseite</button>
      <button class="buttonAnimate" routerLink="/escape" onclick="restartEscape()">Zurück zum Escape-Room</button>
      <button class="buttonAnimate" routerLink="/quellen" >Zu den <br> Quellen</button>
    </div>
  </div>
</div>
