<div class="firstBody">
    <app-header></app-header>
    <div class="oneBg">
    <app-vorstellung></app-vorstellung>
    <app-spielregeln></app-spielregeln>
   
  <button class="buttonEscape" routerLink="/escape">
    <!--<fa-icon class="cdoor" [icon] ="faDoorClosed" fa-bounce></fa-icon>    -->
    <fa-icon class="odoor" [icon] ="faDoorOpen"  animation="bounce"></fa-icon>
    <i class="fa-solid fa-door-closed fa-bounce"></i>
    </button>
        
    <app-erklaerung></app-erklaerung></div>
</div>
