<div class="firstBody">
   <!--- <app-header></app-header>
    <div class="oneBg">
      <app-vorstellung></app-vorstellung>
      <app-spielregeln></app-spielregeln>

     <button class="buttonEscape" routerLink="/escape">
       <fa-icon class="odoor" [icon] ="faDoorOpen"  animation="bounce"></fa-icon>
      </button>

      <app-erklaerung></app-erklaerung>
    </div> --->

  <div class="firstBody">
    <app-header></app-header>
    <div class="oneBg">
      <app-vorstellung></app-vorstellung>
      <app-spielregeln></app-spielregeln>
      <app-erklaerung></app-erklaerung></div>
    <button routerLink="/escape">Auf zum Escaperoom</button>
  </div>
</div>
