<div class="raum fullHeight" onmousemove="updateDisplayLinks(counterVal)">
  <div class="escape-nav-btn-l fullHeight">
    <button routerLink="/escape" class="buttonAnimateNav">&#5125;</button>
    <div>
      <button id="lampenButtonLinks" class="mobiliar-btn lampe" data-bs-toggle="modal" data-bs-target="#lampenModal">
        <img
          class="frageElement lampeImg esc-img" src="assets/images/lampe.png">
      </button>
    </div>

    <div class="lampenschein">
      <img class="esc-img" src="assets/images/Lampenschein.png">
    </div>

    <div id="counterLinks">
      <div id="counterValueLinks">0</div>
    </div>

    <div>
      <button class="mobiliar-btn bett" id="bettButton" data-bs-toggle="modal" data-bs-target="#bettModal"><img
        class="frageElement esc-img" src="assets/images/er-links/bett.png">
      </button>
    </div>

    <div>
      <button class="mobiliar-btn schrank" id="schrankButton" data-bs-toggle="modal" data-bs-target="#schrankModal">
        <img
          class="frageElement esc-img" src="assets/images/er-links/schrank.png">
      </button>
    </div>

    <div>
      <button class="mobiliar-btn nachttisch" id="nachttischButton" data-bs-toggle="modal"
              data-bs-target="#nachttischModal"><img
        class="frageElement esc-img" src="assets/images/er-links/nachttisch.png">
      </button>
    </div>


    <button class="mobiliar-btn frageElement" id="rahmenButton" data-bs-toggle="modal" data-bs-target="#rahmenModal">
      <div>
        <div class="rahmen1">
          <img
            class="esc-img rahmenRot" src="assets/images/er-links/rahmen1.png">
        </div>
        <div class="rahmen2">
          <img
            class="esc-img rahmenGruen" src="assets/images/er-links/rahmen1.png">
        </div>
        <div class="rahmen3">
          <img class="esc-img rahmenBlau" src="assets/images/er-links/rahmen1.png">
        </div>
      </div>
    </button>

  </div>
</div>

<!--- Modals  --->
<div class="modal fade" id="lampenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Frage7">Frage 7</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <h2> Code wird von oben nach unten interpretiert? </h2>
          <input type="radio" id="richtigRichtung" name="richtungsFrage">
          <label>Wahr</label><br>
          <input type="radio" name="richtungsFrage">
          <label>Falsch</label><br>
        </form>
      </div>
      <div class="modal-footer">
        <button class="buttonAnimate strukturButton" data-bs-dismiss="modal"
                onclick="ValidateFormLinks('richtungsFrage', 'richtigRichtung', 'lampenButtonLinks')">
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bettModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Frage8">Frage 8</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Was macht dieser Selektor? -> .wichtig </h5>
        <input type="radio" name="wichtigFrage">
        <label>Selektiert alle Elemente mit der id 'wichtig'</label><br>
        <input type="radio" id="richtigWichtigSelektor" name="wichtigFrage">
        <label>Selektiert alle Elemente mit der Klasse 'wichtig'</label><br>
      </div>
      <div class="modal-footer">
        <button class="buttonAnimate strukturButton" data-bs-dismiss="modal"
                onclick="ValidateFormLinks('wichtigFrage', 'richtigWichtigSelektor', 'bettButton')">
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="schrankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Frage9">Frage 9</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5> Mit welchem Attribut wird eine externe Datei eingebunden? </h5>
        <input type="radio" name="einbindenFrage">
        <label>quelle</label><br>
        <input type="radio" name="einbindenFrage" id="richtigEinbinden">
        <label>src</label><br>
        <input type="radio" name="einbindenFrage">
        <label>script</label><br>
      </div>
      <div class="modal-footer">
        <button class="buttonAnimate strukturButton" data-bs-dismiss="modal"
                onclick="ValidateFormLinks('einbindenFrage', 'richtigEinbinden', 'schrankButton')">
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="nachttischModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Frage10">Frage 10</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <h5> Welche Maße hat eine Box mit folgenden Angaben? <br> width 300px <br>
            height 200px<br>
            margin 20px35px<br>
            padding 5px15px20px<br>
          </h5>
          <input type="radio" name="boxFrage" id="richtigBox">
          <label>Breite 410 x Höhe 275</label><br>
          <input type="radio" name="boxFrage" value="div">
          <label>Breite 275 x Höhe 410</label><br>
        </form>
      </div>
      <div class="modal-footer">
        <button class="buttonAnimate strukturButton" data-bs-dismiss="modal"
                onclick="ValidateFormLinks('boxFrage', 'richtigBox', 'nachttischButton')">
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rahmenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Frage11">Frage 11</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <h5> Wofür stehen die Angaben RGB? </h5>
          <input type="radio" name="rgbFrage">
          <label>Rosa Gelb Braun</label><br>
          <input type="radio" id="richtigRGB" name="rgbFrage">
          <label>Rot Grün Blau</label><br>
          <input type="radio" name="rgbFrage">
          <label>Rot Gelb Blau</label><br>
        </form>
      </div>
      <div class="modal-footer">
        <button class="buttonAnimate strukturButton" data-bs-dismiss="modal"
                onclick="ValidateFormLinks('rgbFrage', 'richtigRGB', 'rahmenButton')">
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('counterValueLinks').innerHTML = counterVal;
</script>
