@import "../../main.css";
@import "bootstrap";

.bett {
  height: 20%;
  width: 30%;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: scaleX(-1);
}

.schrank {
  height: 40%;
  width: 15%;
  position: fixed;
  left: 71%;
  top: 62%;
}

.nachttisch {
  height: 20%;
  width: 7%;
  position: absolute;
  left: 23%;
  top: 72%;
}

.rahmen1 {
  height: 20%;
  width: 7%;
  position: absolute;
  left: 30%;
  top: 35%;
}

.rahmen2 {
  height: 20%;
  width: 7%;
  position: absolute;
  left: 42.5%;
  top: 35%;
}

.rahmen3 {
  height: 20%;
  width: 7%;
  position: absolute;
  left: 55%;
  top: 35%;
}


