<div class="er-links fullHeight">
  <div class="escape-nav-btn-l fullHeight">
    <button routerLink="/escape">&#5125;</button>
    <div class="lampe">
      <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#lampenModal"><img
        class="frageElement lampeImg esc-img" src="assets/images/lampe.png">
      </button>
    </div>
    <div class="bett">
      <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#lampenModal"><img
        class="frageElement esc-img" src="assets/images/bett.png">
      </button>
    </div>
    <div class="schrank">
      <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#lampenModal"><img
        class="frageElement esc-img" src="assets/images/schrank.png">
      </button>
    </div>
    <div class="nachttisch">
      <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#lampenModal"><img
        class="frageElement esc-img" src="assets/images/nachttisch.png">
      </button>
    </div>
    <div class="rahmenGruppe">
      <div class="rahmen1">
        <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#lampenModal"><img
          class="frageElement esc-img" src="assets/images/rahmen1.png">
        </button>
      </div>
      <div class="rahmen2">
        <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#lampenModal"><img
          class="frageElement esc-img" src="assets/images/rahmen1.png">
        </button>
      </div>
      <div class="rahmen3">
        <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#lampenModal"><img
          class="frageElement esc-img" src="assets/images/rahmen1.png">
        </button>
      </div>
    </div>
  </div>
</div>
