h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.schreibtisch {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.er-mitte {
  background-size: cover;
  background: url("src/img/raum.svg") no-repeat fixed 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fullHeight{
  height: 100vh
}


