<div class="raum fullHeight">
  <div class="escape-nav-btn fullHeight">
    <button routerLink="/escape">&#5130;</button>
  </div>
  <div class="fenster">
    <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#großesRegalModal">
      <img class="frageElement esc-img fensterUnhover" src="../../assets/images/er-rechts/fensterMitEnte1.png">
      <img class="frageElement esc-img fensterHover" src="../../assets/images/er-rechts/fensterMitEnte6.png">
    </button>
  </div>
  <div class="lampe">
    <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#lampenModal"><img
      class="frageElement lampeImg esc-img" src="assets/images/lampe.png">
    </button>
  </div>

  <div class="pyramidenRegal">
    <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#großesRegalModal"><img
      class="frageElement esc-img" src="../../assets/images/er-rechts/pyramidenregal.png">
    </button>
  </div>
  <div class="kommode">
    <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#großesRegalModal"><img
      class="frageElement esc-img" src="../../assets/images/er-rechts/kommode.png">
    </button>
  </div>
  <div class="druckerRegal">
    <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#großesRegalModal"><img
      class="frageElement esc-img" src="../../assets/images/er-rechts/druckerRegal.png">
    </button>
    <div class="drucker">
      <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#großesRegalModal">
        <img class="frageElement esc-img druckerUnhover" src="../../assets/images/er-rechts/druckerUnhover.png">
        <img class="frageElement esc-img druckerHover" src="../../assets/images/er-rechts/druckerHovered.png">
      </button>
    </div>
  </div>
</div>

