@import "../../main.css";
@import "bootstrap";



.fenster {
  height: 40%;
  width: 20%;
  position: fixed;
  top: 41%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.fensterHover {
  height: 100%;
  top: 18.5px;
  animation: lampenschein 17ms;
}

.fenster .fensterHover {
  display: none;
  position: absolute;

}

.fenster:hover .fensterHover {
  display: inline;
  transition: opacity .6s;
}

.fenster:hover .fensterUnhover {
  display: none;
}

.pyramidenRegal {
  display: inline;
  height: 50%;
  width: 25%;
  position: fixed;
  top: 80.5%;
  left: 67.5%;
  transform: translate(-50%, -50%);
}

.pyramidenWecker{
  height: 8%;
  width: 4%;
  position: absolute;
  left: 77%;
  top: 56.1%;
  animation: vibration 2s ease 0s infinite normal forwards;
}

.kommode {
  height: 25%;
  width: 20%;
  position: fixed;
  top: 83%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.druckerRegal {
  height: 15%;
  width: 30%;
  position: absolute;
  top: 40%;
  left: 9%;
  transform: translate(-50%, -50%);
}

.drucker {
  height: 100%;
  width: 35%;
  position: absolute;
  top: -25%;
  left: 96%;
}

.druckerHover {
  height: 120%;
  top: 39%
}

.drucker .druckerHover {
  display: none;
  position: absolute;
  transition: opacity .6s;
}

.drucker:hover .druckerHover {
  display: inline;
  transition: opacity .6s;
}

.drucker:hover .druckerUnhover {
  display: none;
}
