@keyframes glowing {
  0% {
    background-color: transparent;
    box-shadow: 0 1px 10px #eeeeee;
  }
  50% {
    background-color: transparent;
    box-shadow: 0 0 30px #f2f3f2;
  }
  100% {
    background-color: transparent;
    box-shadow: 0 0 10px #eeeeee;
  }
}

@keyframes vibration {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

.frageElement:hover {
  animation: glowing 13000ms infinite;
}

@keyframes imgmove {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imgmove1 {
  0% {
    opacity: 1;
    transform: scale(100%);
  }
  20% {
    opacity: 0;
    transform: scale(95%);
  }
  40% {
    opacity: 1;
    transform: scale(100%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wechseln {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}



@keyframes entenfenster {

  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1
  }
  100% {
    opacity: 0;
  }

}

@keyframes druckerHover {

  0%, 9% {
    opacity: 0;
  }
  10%, 19% {
    opacity: 1;
  }
  20%, 29% {
    opacity: 0;
  }
  30%, 39% {
    opacity: 1;
  }
  40%, 49% {
    opacity: 0;
  }
  50%, 59% {
    opacity: 1;
  }
  60%, 69% {
    opacity: 0;
  }
  70%, 79% {
    opacity: 1;
  }
  80%, 89% {
    opacity: 0;
  }
  90%,
  99% {
    opacity: 1
  }
  100% {
    opacity: 0;
  }

}

@keyframes druckerUnhover {

  0%, 9% {
    opacity: 1;
  }
  10%, 19% {
    opacity: 0;
  }
  20%, 29% {
    opacity: 1;
  }
  30%, 39% {
    opacity: 0;
  }
  40%, 49% {
    opacity: 1;
  }
  50%, 59% {
    opacity: 0;
  }
  60%, 69% {
    opacity: 1;
  }
  70%, 79% {
    opacity: 0;
  }
  80%, 89% {
    opacity: 1;
  }
  90%,
  99% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }

}

@keyframes lampenschein {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes mausbewegung {
  10% {
    transform: translateX(57%)
  }
  25% {
    transform: translateY(50%)
  }
  50% {
    transform: translateX(-40%)
  }
  100% {
    transform: translateY(-100%)
  }
}



@keyframes imgmove2 {
  0% {
    opacity: 0;
    transform: scale(100%);
  }
  20% {
    opacity: 1;
    transform: scale(95%);
  }
  40% {
    opacity: 0;
    transform: scale(100%);
  }
  60% {
    opacity: 1;
    transform: scale(95%);
  }
  100% {
    opacity: 0;
    transform: scale(100%);
  }
}
