<div class="html-info">
  <div>
    <h1 id="html" class="h1">Infos zu HTML</h1>
    <span>
                    <p>Venenatis pertinacia viderer congue nonumy congue eirmod laudem dictas ut. Eu natoque dolore conclusionemque id repudiandae. Suavitate felis efficiantur agam sea eu verear pri felis. Tale efficiantur indoctum tempus oporteat ferri eam mus evertitur. Libero neglegentur nec impetus vocibus dictas docendi consequat eleifend. Repudiandae aperiri disputationi minim at. Quas sapien utamur mattis non solet. Repudiandae omnesque ea no disputationi viderer ubique epicurei. Constituam meliore error varius justo sollicitudin. Legimus detracto quidam tincidunt doctus.</p>
                <figure class="figure">
                    <img src="..." class="figure-img img-fluid rounded"
                         alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                </figure>
                    <p>Venenatis pertinacia viderer congue nonumy congue eirmod laudem dictas ut. Eu natoque dolore conclusionemque id repudiandae. Suavitate felis efficiantur agam sea eu verear pri felis. Tale efficiantur indoctum tempus oporteat ferri eam mus evertitur. Libero neglegentur nec impetus vocibus dictas docendi consequat eleifend. Repudiandae aperiri disputationi minim at. Quas sapien utamur mattis non solet. Repudiandae omnesque ea no disputationi viderer ubique epicurei. Constituam meliore error varius justo sollicitudin. Legimus detracto quidam tincidunt doctus.</p>
                    </span>

  </div>
</div>
<div class="css-info">
  <div>
    <h1 id="css" class="h1">Infos zu CSS</h1>
    <span>
                    <p>Venenatis pertinacia viderer congue nonumy congue eirmod laudem dictas ut. Eu natoque dolore conclusionemque id repudiandae. Suavitate felis efficiantur agam sea eu verear pri felis. Tale efficiantur indoctum tempus oporteat ferri eam mus evertitur. Libero neglegentur nec impetus vocibus dictas docendi consequat eleifend. Repudiandae aperiri disputationi minim at. Quas sapien utamur mattis non solet. Repudiandae omnesque ea no disputationi viderer ubique epicurei. Constituam meliore error varius justo sollicitudin. Legimus detracto quidam tincidunt doctus.</p>
                <figure class="figure">
                    <img src="..." class="figure-img img-fluid rounded"
                         alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                </figure>
                    <p>Venenatis pertinacia viderer congue nonumy congue eirmod laudem dictas ut. Eu natoque dolore conclusionemque id repudiandae. Suavitate felis efficiantur agam sea eu verear pri felis. Tale efficiantur indoctum tempus oporteat ferri eam mus evertitur. Libero neglegentur nec impetus vocibus dictas docendi consequat eleifend. Repudiandae aperiri disputationi minim at. Quas sapien utamur mattis non solet. Repudiandae omnesque ea no disputationi viderer ubique epicurei. Constituam meliore error varius justo sollicitudin. Legimus detracto quidam tincidunt doctus.</p>
                    </span>
  </div>
</div>
