<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div @fadeInEr class="html-info">
 
<div class="erklärung-container panel">
  <div class="kapitel-titel-container">
    <div class="kapitel-titel" id="erklärung"></div>
    <h2>Erklärung</h2>
  </div>


  <div class="item erklaerungHTML">
    <div class="text-right">
      <h6 class="item-title vorteil-title">HTML</h6>
      <div class="item vorteil">
        <ul class="HTML">
          <li>Hypertext Markup Language</li>
          <li>wird zur Strukturierung von Inhalten wie zum Beispiel Texte, Bilder, Hyperlinks verwendet</li>
          <li>hat keine Gestaltung / Formatierung</li>
          <li>logische Ordnung von zusammenwirkenden Elementen</li>
        </ul>
      </div>
    </div>

  <div class="item item-right">
    <figure class="galleryHtml">
      <figure>
        <img src="../../assets/imagesOnePager/htmlCode.png" alt="html beispiele" width="350px" height="350">
      </figure>
      <figure>
        <img src="../../assets/imagesOnePager/htmlErg.png" alt="Vorschau HTML" width="350px" height="350">
      </figure>
    </figure>
  </div>

  <div class="item erklärungCSS">
    <div class="text-left">
      <h6 class="item-title vorteil-title">CSS</h6>
      <ul class="CSS">
        <li>CSS wird verwendet für das Layout einer Webseite</li>
        <li>beschreibt die Darstellung einzelner Elemente</li>
      </ul>
    </div>
    <div class="item item-left">
      <figure class="galleryCss">
        <figure>
          <img src="../../assets/imagesOnePager/cssCode.png" alt="html beispiele" width="600px" height="300px">
      </figure>
        <figure>
          <img src="../../assets/imagesOnePager/cssErg.png" alt="css beispiele" width="600px" height="300px">
        </figure>
      </figure>
    </div>
  </div>

  <div class="item erklärungJS">
    <div class="text-left">
      <h6 class="item-title vorteil-title">JavaScript</h6>
      <ul class="JS">
        <li>dynamisch typisierte objektorientierte klassenlose Skriptsprache</li>
        <li>bringt Dynamik in die Webseite</li>
        <li>dynamische Manipulation von Webseiten über das Document Object Model</li>
        <li>beschreibt das Verhalten</li>
        <li>reagiert auf Nutzerinteraktion</li>
        <li>Anwendungsbeispiele: Überprüfung von Formularen, Nachladen von Daten (z.B: AJAX)</li>
        <li>wird über das script-Tag eingebunden entweder im head-Tag oder im body-Tag</li>
      </ul>
    </div>
    <div class="item item-left">
      <figure class="galleryJs">
        <figure>
          <img src="../../assets/imagesOnePager/jsCode.png"  alt="js beispiele"width="600px" height="300px">
        </figure>
        <figure>
          <img src="../../assets/imagesOnePager/jsErg1.png"width="600px" height="300px">
        </figure>
      <figure>
        <img src="../../assets/imagesOnePager/jsErg2.png"width="600px" height="300px">
      </figure>

      </figure>
    
    </div>
  
  </div>

</div>
