<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div id="erklaerung" @fadeInEr class="erklärung">
  <!--<a name="erklaerung"></a>-->
  <h3 id="Erklärung">Erklärung</h3>
  <div class="erklaerung-inner">
    <div class="item erklaerungHTML">
      <div class="text-left">
        <div class="HTML">
          <h6>HTML</h6>
          <p>HTML (Hypertext Markup Language) ist eine textbasierte Sprache und wird zur <b>Strukturierung von
            Inhalten </b> wie z.B. Texte,
            Bilder oder Hyperlinks verwendet. Sie hat <b>keine Gestaltung und Formatierung</b> und besteht nur aus
            Klartext und Elementen (-> Tag).
            Mit HTML ordnet man diese zusammenwirkende Elemente logisch an.
          </p>
        </div>
      </div>
      <div class="item item-right">
        <figure class="galleryHtml">
          <figure>
            <img class="galleryHtml-image" src="../../assets/images/imagesOnePager/htmlCode.png" alt="html beispiele"
                 width="300px" height="300px">
          </figure>
          <figure>
            <img class="galleryHtml-image" src="../../assets/images/imagesOnePager/htmlErg.png" alt="Vorschau HTML"
                 width="300px" height="300px">
          </figure>
        </figure>
      </div>
    </div>

    <div class="item erklaerungCSS">
      <div class="text-left">
        <div class="CSS">
          <h6>CSS</h6>
          <p> CSS wird verwendet für das <b>Layout</b> einer Webseite und ist direkt mit HTML verknüpft. Es beschreibt
            somit die Darstellung einzelner
            Elemente. Mit CSS können komplexe und genaue <b>Formatierungen </b>einzelner Tags ermöglicht werden und
            damit der Inhalt auf verschiedenen
            Medien flexibel dargestellt werden (<b>-> responsive</b> Webseite) . Ferner dient es der Barrierefreiheit.
          </p>
        </div>
      </div>
      <div class="css-image item item-left">
        <figure class="galleryCss">
          <figure>
            <img class="galleryCss-image" src="../../assets/images/imagesOnePager/cssCode.png"
                 alt="css Beispiel HTML Code" width="300px" height="300px">
          </figure>
          <figure>
            <img class="galleryCss-image" src="../../assets/images/imagesOnePager/CSS.png" alt="css Beispiel CSS Code"
                 width="300px" height="300px">
          </figure>
          <figure>
            <img class="galleryCss-image" src="../../assets/images/imagesOnePager/cssErg1.png"
                 alt="css Beispiel Ergebnis" width="300px" height="300px">
          </figure>
        </figure>
      </div>
    </div>

    <div class="item erklaerungJS">
      <div class="text-left">
        <div class="JS">
          <h6>JavaScript</h6>
          <p>JavaScript ist eine dynamisch typisierte objektorientierte klassenlose <b>Skriptsprache</b>. Mit JavaScript
            wird <b>Dynamik</b> eine eine Webseite gebracht.
            Dabei werden Webseiten über das Document Object Model (<b>-> DOM</b>) manipuliert. Mit JavaScript kann auf
            <b>Nutzerinteraktion</b> reagiert werden z.B.
            bei der Überprüfung von Formularen. JavaScript wird über das <b>script-Tag</b> eingebunden entweder im
            head-Tag oder im body-Tag. </p>
        </div>
      </div>
      <div class="item item-left">
        <figure class="galleryJs">
          <figure>
            <img class="galleryJs-image" src="../../assets/images/imagesOnePager/jsCode.png" alt="js beispiele jsCode"
                 width="300px" height="300px">
          </figure>
          <figure>
            <img class="galleryJs-image" src="../../assets/images/imagesOnePager/jsErg1.png" alt="js beispiele ergebnis"
                 width="300px" height="300px">
          </figure>
          <figure>
            <img class="galleryJs-image" src="../../assets/images/imagesOnePager/jsErg2.png" alt="js beispiele ergebnis"
                 width="300px" height="300px">
          </figure>
        </figure>
      </div>
    </div>
    <p>weitere Infos findest du hier: <br>
      <a href="https://wiki.selfhtml.org/">Self HTML</a> <br>
      <a href="https://www.w3schools.com/">w3schools</a>
    </p>
  </div>

</div>
