@import "../../main.css";
@import "bootstrap";

/* Klassen */

.schreibtisch {
  height: 45%;
  width: 25%;
  position: fixed;
  top: 65%;
  left:50%;
  transform: translate(-50%, -50%);
}

.mauszeiger {
  height: 1.5%;
  width: 0.5%;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: mausbewegung 13000ms infinite;
  animation-direction: alternate;
}

.monstera {
  height: 35%;
  width: 14%;
  position: fixed;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.großesRegal {
  height: 40%;
  width: 20%;
  position: absolute;
  top: 25%;
  left: 23%;
  transform: translate(-50%, -50%);
}


.kleinesRegal {
  height: 40%;
  width: 20%;
  position: absolute;
  top: 35%;
  left: 77%;
  transform: translate(-50%, -50%);
}

.blauerWecker {
  height: 7%;
  width: 2.7%;
  position: absolute;
  top: 31%;
  left: 83%;
  animation: vibration 2s ease 0s infinite normal forwards;
}

/* Id's*/


