<div class="raum fullHeight">
  <div class="escape-nav-btn fullHeight">
    <button routerLink="/links">&#5130;</button>
    <div class="lampe">
      <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#lampenModal"><img
        class="frageElement esc-img" src="assets/images/lampe.png">
      </button>
    </div>
    <div class="lampenschein">
      <img class="frageElement esc-img" src="assets/images/Lampenschein.png">
    </div>
    <div class="counter"><div class="counterValue">50</div></div>
    <button routerLink="/rechts">&#5125;</button>
  </div>
  <div class="großesRegal">
    <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#großesRegalModal"><img
      class="frageElement esc-img" src="../../assets/images/er-mitte/großesRegal.png">
    </button>
  </div>
  <div class="monstera">
    <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#monsteraModal">
      <img class="esc-img" src="../../assets/images/er-mitte/monstera.png">
    </button>
  </div>
  <div class="schreibtisch">
    <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#schreibtischModal"><img
      class="esc-img" src="../../assets/images/er-mitte/schreibtisch.png"></button>
  </div>
  <div class="mauszeiger">
    <img class="esc-img" src="../../assets/images/er-mitte/mauszeiger.png">
  </div>
  <div class="kleinesRegal">
    <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#kleinesRegalModal"><img
      class="esc-img" src="../../assets/images/er-mitte/kleinesRegal.png"></button>

    <div class="blauerWecker">
      <button class="mobiliar-btn" data-bs-toggle="modal" data-bs-target="#blauerWeckerModal"><img
        class="esc-img" src="../../assets/images/er-mitte/uhr.png"></button>
    </div>
  </div>
</div>


<!-- Modals --->

<div class="modal fade" id="lampenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Frage1">Frage 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <h5> Für was wird JavaScript verwendet? <br>
            (Mehrfachnennung ist möglich)
          </h5>
          <input type="checkbox" class="wahr" name="strukturFrage" value="">
          <label for="p">Reaktion auf Nutzerinteraktion</label><br>
          <input type="checkbox" class="falsch" name="strukturFrage" value="div">
          <label for="div">Formularüberprüfung</label><br>
          <input type="checkbox" class="wahr" name="strukturFrage" value="">
          <label for="p">Nachladen von Daten</label><br>
          <input type="checkbox" class="falsch" name="strukturFrage" value="div">
          <label for="div">Kommunikation mit der Datenbank</label><br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Schließen</button>
        <input type="submit" class="btn btn-primary" value="Speichern">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="großesRegalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Frage2">Frage 2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Wie nennt man diesen Selektor? -> * </h5>
        <input type="radio" class="wahr" name="strukturFrage" value="p">
        <label for="p">Universalselektor</label><br>
        <input type="radio" class="falsch" name="strukturFrage" value="div">
        <label for="div">Gleichstellungsselektor</label><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Schließen</button>
        <input type="submit" class="btn btn-primary" value="Speichern">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="monsteraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Frage3">Frage 3</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5> Wie viele Abstufungen von Überschriften gibt es? </h5>
        <input type="radio" class="wahr" name="strukturFrage" value="p">
        <label for="p">3</label><br>
        <input type="radio" class="falsch" name="strukturFrage" value="div">
        <label for="div">9</label><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Schließen</button>
        <input type="submit" class="btn btn-primary" value="Speichern">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="schreibtischModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Frage4">Frage 4</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <h2> Für die Strukturierung des Inhalts verwendet man CSS? </h2>
          <input type="radio" class="wahr" name="strukturFrage" value="p">
          <label for="p">Wahr</label><br>
          <input type="radio" class="falsch" name="strukturFrage" value="div">
          <label for="div">Falsch</label><br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Schließen</button>
        <input type="submit" class="btn btn-primary" value="Speichern">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="kleinesRegalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Frage5">Frage 5</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <h2> Für die Strukturierung des Inhalts verwendet man HTML? </h2>
          <input type="radio" class="wahr" name="strukturFrage" value="p">
          <label for="p">Wahr</label><br>
          <input type="radio" class="falsch" name="strukturFrage" value="div">
          <label for="div">Falsch</label><br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Schließen</button>
        <input type="submit" class="btn btn-primary" value="Speichern">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="blauerWeckerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Frage6">Frage 6</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <h2> Welches der folgenden HTLM-Tags wird für einen Textabsatz genutzt?</h2>
          <input type="radio" id="p" name="tagFrage" value="p">
          <label for="p">p</label><br>
          <input type="radio" id="div" name="tagFrage" value="div">
          <label for="div">div</label><br>
          <input type="radio" id="img" name="tagFrage" value="img">
          <label for="img">img</label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Schließen</button>
        <input type="submit" class="btn btn-primary" value="Speichern">
      </div>
    </div>
  </div>
</div>

<script>
  var counterValue = document.getElementsByClassName('counterValue')[0].firstChild.innerHTML;
  var zahl=parseInt(counterValue);

  if(zahl<=25){
    document.getElementsByClassName(counter).backgroundColor = "#ff0000";
  } else if (counterValue<50){
    document.getElementsByClassName(counter).backgroundColor = "#ffa500";

  } else if (zahl<=75){
    document.getElementsByClassName(counter).backgroundColor = "#ffff00";
  } else {
    document.getElementsByClassName(counter).backgroundColor = "#00ff00";
  }
</script>





