/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import "css/animations.css";
@import "css/escape-allg.css";
@import "css/modals.css";

/*OnePager*/
.navbar {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.firstBody {
  box-sizing: border-box;
  max-width: 800px;
  text-align: left;
  margin: 0 auto;
  padding: 10px;
}

.oneBg {
  background-position-y: top;
  background-image: url("assets/images/er-rechts/pyramidenregal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
  background-attachment: fixed;
}

.erklaerung-inner {
  background-color: #b2e996;
}

.p-5 {
  background-color: #b2e996;
  display: grid;
  grid-template-columns: min-content 1fr;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.mb-3 {
  margin-top: 50px;
  text-align: center;
}

.text-right, .text-left {
  padding: 10px;
  /*width: 200px;  */
  background-color: #b2e996
}


.h-img {
  max-width: 60%;
  max-height: 60%;
  margin-top: 50px;
  margin-left: 25%;
}

.button {
  width: 100%;
  height: 150px;
}

.button-bg {
  width: 100%;
  height: 110px;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;;
  font-weight: bolder;
  font-size: large;
}

.erklärung {
  width: 100%;
}

.text-right {
  text-align: justify;
  margin: 1em auto;
  padding: 2em;
}

.text-left {
  text-align: justify;
}

.buttonEscape {
  width: 100%;
  text-align: center;
  background: none;
  border: none;
}

.odoor {
  font-size: 75px;
  color: #b5615f;
  position: relative;
  top: -100px;
}

.vorstellung {
  width: 100%;
}

.spielvorstellung-image {
  float: left;
  left: 0;
  width: 320px;
  height: 320px;
  padding: 20px;
  margin-right: 40px;
}

.spielstory {
  display: grid;
  padding: 4rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
}

.vorImg1 {
  position: relative;
  left: -90px;
  top: -350px;
  height: 50px;
  width: 50px;

  animation: imgmove 5s forwards infinite linear;
}

.vorImg2 {
  position: relative;
  left: 80px;
  top: -350px;
  height: 50px;
  width: 50px;

  animation: imgmove 5s forwards infinite linear

}

.vorImg3 {
  position: relative;
  left: 100px;
  top: -230px;
  height: 200px;
  width: 100px;
}

.vorImg4 {
  position: relative;
  left: 0px;
  top: 0px;
  height: 300px;
  width: 300px;
}

.spielregeln {
  width: 100%;
}

.spielregeln-text {
  min-height: 320px;
}

.spielregeln-image {
  float: right;
  left: 0;
  width: 320px;
  height: 320px;
  padding: 20px;
  margin-right: 20px;
}

/* Frau */
.regelImg0 {
  position: relative;
  left: 105px;
  top: -850px;
  height: 200px;
  width: 100px;
  z-index: 1000;
}

/* Fragezeichen Hintergrund 1 */
.regelImg1 {
  position: relative;
  left: 30px;
  top: -675px;
  height: 265px;
  width: 260px;
  animation: imgmove1 5s forwards infinite linear;
  animation-delay: 10s;
  /*z-index: 1000;*/
}

.regelImg2 {
  position: relative;
  left: 0px;
  top: -470px;
  height: 180px;
  width: 295px;
  animation: imgmove2 5s forwards infinite linear;
  animation-delay: 10s;
  /*z-index: 1000;*/
}

/* rotes Fragezeichen*/
.regelImg3 {
  position: relative;
  left: 70px;
  top: -240px;
  height: 200px;
  width: 150px;
  animation: vibration 5s forwards infinite linear;
}

/* Blume */
.regelImg4 {
  position: relative;
  left: 0px;
  top: 0px;
  height: 300px;
  width: 300px;
}


/* Beispiel HTML */
.galleryHtml {
  position: relative;
  margin: 0;
  background: none;
  border: none;
}

.galleryHtml figure {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 2em;
  z-index: 1;
  animation: wechseln 15s infinite;
}

.galleryHtml figure:last-of-type {
  position: relative;
}

.galleryHtml > figure figcaption {
  position: absolute;
  left: 1em;
  font-size: 2em;
  font-weight: bold;
  bottom: 0.5em;
  z-index: 2;
  color: white;
}

.galleryHtml figure:nth-of-type(2) {
  animation-delay: 10s;
  opacity: 0;
}

/* Beispiel CSS */
.galleryCss {
  position: relative;
  margin: 0;
  background: none;
  border: none;
}

.galleryCss figure {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 2em;
  z-index: 1;
  animation: imgmove 15s infinite;
}

.galleryCss figure:last-of-type {
  position: relative;
}

.galleryCss > figure figcaption {
  position: absolute;
  left: 1em;
  font-size: 2em;
  font-weight: bold;
  bottom: 0.5em;
  z-index: 2;
  color: white;
}

.galleryCss figure:nth-of-type(2) {
  animation-delay: 5s;
  opacity: 0;
}

.galleryCss figure:nth-of-type(3) {
  animation-delay: 10s;
  opacity: 0;
}

/* Beispiel JS */
.galleryJs {
  position: relative;
  margin: 0;
  background: none;
  border: none;
}

.galleryJs figure {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 2em;
  z-index: 1;
  animation: imgmove 15s infinite;
}

.galleryJs figure:last-of-type {
  position: relative;
}

.galleryJs > figure figcaption {
  position: absolute;
  left: 1em;
  font-size: 2em;
  font-weight: bold;
  bottom: 0.5em;
  z-index: 2;
  color: white;
}

.galleryJs figure:nth-of-type(2) {
  animation-delay: 5s;
  opacity: 0;
}

.galleryJs figure:nth-of-type(3) {
  animation-delay: 10s;
  opacity: 0;
}


/* Footer*/
.footer {
  margin-top: 50px;
  width: 100%;
  background-color: #b2e996;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 800px;
}

.f-list {
  text-align: left;
  margin: 10px;
  font-weight: bold;
}

.f-img {
  max-width: 60%;
  max-height: 60%;
  margin-top: 50px;
  margin-left: 25%;
}

/*
.f-button{
    text-align: right;
}
*/
.footerEscape {
  width: 50%;
  background: none;
  border: none;
}

.HTML, .CSS, .JS{
  padding: 1em 2em;
}



