/* You can add global styles to this file, and also import other style files */
@import "bootstrap";

/*Animationen*/
@keyframes glowing {
  0% {
    background-color: transparent;
    box-shadow: 0 1px 5px #eeeeee;
  }
  50% {
    background-color: transparent;
    box-shadow: 0 0 20px #7ed06e;
  }
  100% {
    background-color: transparent;
    box-shadow: 0 0 5px #eeeeee;
  }
}

@keyframes vibration {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

.frageElement:hover {
  animation: glowing 13000ms infinite;
}

/* Allgemeines für Escape-Room*/
.lampe {
  height: 30%;
  width: 10%;
  position: absolute;
  left: 47%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.mobiliar-btn {
  background-color: Transparent;
  border: none;

}

.esc-img {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translate(50%, -50%);
}

.raum {
  background-size: cover;
  background: url("src/assets/images/raum.png") no-repeat fixed 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.escape-nav-btn {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.escape-nav-btn-l {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.navbar {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.firstBody {
  box-sizing: border-box;
  max-width: 800px;
  text-align: left;
  margin: 0 auto;
}
.oneBg{
  background-position-y: top;
  background-image: url("assets/images/er-rechts/pyramidenregal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
  background-attachment: fixed;
}

.p-5 {
  background-color: beige;
  display: grid;
  grid-template-columns: min-content 1fr;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.mb-3 {
 margin-top: 50px;
 text-align: center;
}
.text-right{
  margin: 10px;
  padding: 10px;
  background-color: beige;
}
.h-img{
  max-width: 60%;
  max-height: 60%;
  margin-top: 50px;
  margin-left: 25%;

}
.spielstory {
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;

}
.regelImg, .vorstellungImg{
  max-width: 100%;
  max-height: auto;
}

/* One Pager */

.galleryHtml {
	position: relative;
	margin: 0;
	background: none;
	border: none;
}

.galleryHtml figure {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 2em;
	z-index: 1;
	animation: wechseln 15s infinite;
}

.galleryHtml figure:last-of-type {
	position: relative;
}

.galleryHtml > figure figcaption {
	position: absolute;
	left: 1em;
	font-size: 2em;
	font-weight: bold;
	bottom: 0.5em;
	z-index: 2;
	color: white;
}

@keyframes wechseln {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.galleryHtml figure:nth-of-type(2) {
	animation-delay: 5s;
	opacity: 0;
}
/*
.galleryHtml figure:nth-of-type(3) {
	animation-delay: 10s;
	opacity: 0;
}
*/



.galleryCss {
	position: relative;
	margin: 0;
	background: none;
	border: none;
}

.galleryCss figure {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 2em;
	z-index: 1;
	animation: wechseln 15s infinite;
}

.galleryCss figure:last-of-type {
	position: relative;
}

.galleryCss > figure figcaption {
	position: absolute;
	left: 1em;
	font-size: 2em;
	font-weight: bold;
	bottom: 0.5em;
	z-index: 2;
	color: white;
}

@keyframes wechseln {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.galleryCss figure:nth-of-type(2) {
	animation-delay: 5s;
	opacity: 0;
}
/*
.galleryCss figure:nth-of-type(3) {
	animation-delay: 10s;
	opacity: 0;
}
*/
.galleryJs {
	position: relative;
	margin: 0;
	background: none;
	border: none;
}

.galleryJs figure {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 2em;
	z-index: 1;
	animation: wechseln 15s infinite;
}

.galleryJs figure:last-of-type {
	position: relative;
}

.galleryJs > figure figcaption {
	position: absolute;
	left: 1em;
	font-size: 2em;
	font-weight: bold;
	bottom: 0.5em;
	z-index: 2;
	color: white;
}

@keyframes wechseln {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.galleryJs figure:nth-of-type(2) {
	animation-delay: 5s;
	opacity: 0;
}

.galleryJs figure:nth-of-type(3) {
	animation-delay: 10s;
	opacity: 0;
}

