/* You can add global styles to this file, and also import other style files */
@import "bootstrap";

.er-body {
  background-size: cover;
  background: url("src/img/raum.svg") no-repeat fixed 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.escape-nav-btn{
  display: flex;
  justify-content: space-between;
}

app-escaperoom{
  height: 100vh;
}
