<div @fadeIn class="spielregeln">

<div class = "spielstory">
<img class="vorstellungImg" src="assets\images\vorstellen.jpg">
  <div class="text-right">
    Ach, was für ein <b>schöner Morgen!</b><br> 
    Müde streckst du dich und schaust auf die Uhr. Du fühlst dich richtig ausgeschlafen.<br>
    Und dann wird es dir klar. Du hast verschlafen. Du müsstest schon längst auf dem Weg zur <b>Webprogrammierungs-Klausur</b> sein.<br>
    Und dann der nächste Schock. Deine Tür ist abgeschlossen. Und du hast keinen Schlüssel. <br>
    Und dann ertönt eine Stimme. <br>
    „<b>Guten Morgen!</b> <br>Keine Sorge. Du bist noch pünktlich. Das hier ist alles nur ein Traum.<br> Aber um aufzuwachen, musst du ein paar Aufgaben lösen. Nur um sicherzugehen, dass du heute nicht doch im Bett liegen bleiben solltest.<br> Wie heißt es so schön?<br> Am besten solltest du das ganze im Schlaf können.</div>
</div>

</div>

