<div @fadeIn class="spielregeln">

<div class = item item-right>

  <div class="text-right">
    Ach, was für ein schöner Morgen. 
    Müde streckst du dich und schaust auf die Uhr. Du fühlst dich richtig ausgeschlafen. 
    Und dann wird es dir klar. Du hast verschlafen. Du müsstest schon längst auf dem Weg zur Webprogrammierungs-Klausur sein. 
    Und dann der nächste Schock. Deine Tür ist abgeschlossen. Und du hast keinen Schlüssel. 
    Und dann ertönt eine Stimme. 
    „Guten Morgen. Keine Sorge. Du bist noch pünktlich. Das hier ist alles nur ein Traum. Aber um aufzuwachen, musst du ein paar Aufgaben lösen. Nur um sicherzugehen, dass du heute nicht doch im Bett liegen bleiben solltest. Wie heißt es so schön? Am besten solltest du das ganze im Schlaf können.</div>
</div>

</div>

