<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div @fadeIn class="vorstellung">
  <h3>Story</h3>
  <div class = "spielvorstellung">
    <!--<div style="width:400px; height: 400px;" > 
      <img style="position:absolute; left:400px; top:280px; height:300px; width:300px;" @fadeIn class="vorImg1" src="assets/images/vorstellung/vorstellung_0004.png">
      <img style="position:absolute; left:500px; top:360px; height:200px; width:100px;" @fadeIn class="vorImg2" src="assets/images/vorstellung/vorstellung_0003.png"> 
      <img style="position:absolute; left:600px; top:340px; height:50px; width:50px;" class="vorImg3" src="assets/images/vorstellung/vorstellung_0002.png">
      <img style="position:absolute; left:460px; top:330px; height:50px; width:50px;" class="vorImg4" src="assets/images/vorstellung/vorstellung_0001.png">
      -->
      <img class="vorImg4" src="assets/images/vorstellung/vorstellung_0004.png">
      <img class="vorImg3" src="assets/images/vorstellung/vorstellung_0003.png"> 
      <img class="vorImg2" src="assets/images/vorstellung/vorstellung_0002.png">
      <img class="vorImg1" src="assets/images/vorstellung/vorstellung_0001.png">
    
    
  </div>
  <div class="text-right">
      Ach, was für ein <b>schöner Morgen!</b><br>
      Müde streckst du dich und schaust auf die Uhr. Du fühlst dich richtig ausgeschlafen.<br>
      Und dann wird es dir klar. Du hast verschlafen. Du müsstest schon längst auf dem Weg zur <b>Webprogrammierungs-Klausur</b> sein.<br>
      Und dann der nächste Schock. Deine Tür ist abgeschlossen. Und du hast keinen Schlüssel. <br>
      Und dann ertönt eine Stimme. <br>
      <b>Guten Morgen!</b> <br>
      Keine Sorge. Du bist noch pünktlich. Das hier ist alles nur ein Traum.<br> 
      Aber um aufzuwachen, musst du ein paar Aufgaben lösen. Nur um sicherzugehen, dass du heute nicht doch im Bett liegen bleiben solltest.<br> 
      Wie heißt es so schön?<br> 
      Am besten solltest du das ganze im Schlaf können.
   </div>
</div>




